*
!.gitignore
!setup.py
!LICENSE
!README.rst
!example.png
!strid/
!strid/*.py
!strid/tests/
!strid/tests/*.py
!examples/
!examples/*.ipynb
!examples/*.gif
!examples/01-shear-frame/
!examples/01-shear-frame/*.ipynb
!examples/01-shear-frame/*.html
!examples/01-shear-frame/results/
!examples/01-shear-frame/results/*.gif
